# pinos para as entradas e saídas
NET "ck" LOC = "b8";
NET "selCPU" LOC = "g18";
NET "reset" LOC = "h18";
NET "an<0>" LOC = "f17";
NET "an<1>" LOC = "h17";
NET "an<2>" LOC = "c18";
NET "an<3>" LOC = "f15";
NET "dec_ddp<0>" LOC = "c17" ;
NET "dec_ddp<1>" LOC = "h14" ;
NET "dec_ddp<2>" LOC = "j17" ;
NET "dec_ddp<3>" LOC = "g14" ;
NET "dec_ddp<4>" LOC = "d16" ;
NET "dec_ddp<5>" LOC = "d17" ;
NET "dec_ddp<6>" LOC = "f18" ;
NET "dec_ddp<7>" LOC = "l18" ;